| **Method**         | **Purpose**                                                                 | **Best Use Cases**                                                                 | **Pros**                                                                 | **Cons**                                                                 |
|--------------------|------------------------------------------------------------------------------|-------------------------------------------------------------------------------------|--------------------------------------------------------------------------|-------------------------------------------------------------------------|
| `upload_file`      | Upload a file from local storage to an S3 bucket.                           | Large file uploads, simple file transfers.                                         | Handles multipart uploads automatically; easy to use.                   | Requires file path; not suitable for in-memory data.                    |
| `upload_fileobj`   | Upload a file-like object to an S3 bucket.                                  | Uploading in-memory files (e.g., BytesIO), streaming data.                         | Flexible with file-like objects; supports streaming.                    | Requires manual multipart handling for large files.                    |
| `put_object`       | Upload raw bytes or string data to an S3 bucket.                            | Small files, metadata updates, quick object creation.                              | Direct control over object content and metadata.                        | No automatic multipart support; less suitable for large files.         |
| `download_file`    | Download a file from an S3 bucket to local storage.                         | Large file downloads, simple file retrieval.                                       | Handles multipart downloads; easy to use.                               | Requires file path; not suitable for in-memory processing.             |
| `download_fileobj` | Download an S3 object to a file-like object.                                | In-memory processing, streaming downloads.                                         | Flexible with file-like objects; supports streaming.                    | Requires manual handling for large files.                              |
| `get_object`       | Retrieve an object from S3, including its metadata and content.             | Reading object content directly, accessing metadata, partial downloads.            | Full access to object metadata and content; supports range requests.    | Requires manual handling for large files; response needs parsing.      |

## Reflection Questions

### 1. Upload Methods

**Q: What are the key differences between `upload_file`, `upload_fileobj`, and `put_object`?**  
- `upload_file`: Uploads from local storage; supports automatic multipart uploads.  
- `upload_fileobj`: Uploads from file-like objects (e.g., `BytesIO`); good for in-memory data.  
- `put_object`: Uploads raw bytes or strings; best for small files and metadata updates.

**Q: When would you choose to use `put_object` over `upload_file` or `upload_fileobj`?**  
- When uploading small files or string data.  
- When you need direct control over object content and metadata.  
- When you donâ€™t need multipart upload support.

---

### 2. Download Methods
**Q: How does `download_file` differ from `download_fileobj` and `get_object`?**  
- `download_file`: Saves object to local file path; supports multipart downloads.  
- `download_fileobj`: Streams object to a file-like object; ideal for in-memory processing.  
- `get_object`: Returns object and metadata in a response dictionary; manual content handling required.

**Q: In what scenarios would `get_object` be more beneficial than `download_file`?**  
- When you need access to object metadata.  
- When performing partial downloads using range headers.  
- When integrating with other AWS services or needing fine-grained control.

---

### 3. Efficiency and Performance

**Q: How do multipart uploads and downloads enhance the performance of file transfer operations?**  
- They split large files into smaller parts and transfer them in parallel.  
- Improve throughput and reduce timeouts.  
- Allow retrying failed parts independently.

**Q: What are the limitations of using `put_object` and `get_object` for large files?**  
- `put_object`: No automatic multipart support; inefficient for large files.  
- `get_object`: Requires manual handling of large content streams; memory-intensive.

---

### 4. Practical Applications

**Q: Consider a scenario where you need to upload a large video file to S3. Which method would you use and why?**  
- Use `upload_file` because it supports automatic multipart uploads and is optimized for large files.

**Q: If you need to process data in memory before saving it locally, which download method would be most suitable?**  
- Use `download_fileobj` because it allows streaming directly into a file-like object for in-memory manipulation.

In [1]:
! uv pip install boto3 python-dotenv

Using Python 3.12.1 environment at: /workspaces/TechCatalyst_DE_2025/tdev
Audited 2 packages in 304ms

In [2]:
from dotenv import load_dotenv
load_dotenv() # this assumes .env is inside the same folder you are working from

True

In [3]:
! uv pip install copilot

Using Python 3.12.1 environment at: /workspaces/TechCatalyst_DE_2025/tdev
Audited 1 package in 69ms

In [4]:
# using Boto3 S3 client api
import boto3
import os

# Create an S3 client
s3_client = boto3.client('s3')

# list bucket names
buckets = s3_client.list_buckets()
for bucket in buckets['Buckets']:
    if 'techcatalyst' in bucket['Name']:
        print(bucket['Name'])

capstone-techcatalyst-conformed
capstone-techcatalyst-raw
capstone-techcatalyst-transformed
techcatalyst-public
techcatalyst-raw
techcatalyst-transformed

In [5]:
# list objects in a specific bucket "techcatalyst-raw" 
bucket_name = 'techcatalyst-raw'
objects = s3_client.list_objects_v2(Bucket=bucket_name)
for obj in objects.get('Contents', []):
    print(obj['Key'])

BLAKE/test.csv
BLAKE/test4.csv
BLAKE/test4.parquet/f02d2bad59de48efa69b0618bd89b99d.snappy.parquet
BLAKE/test_export.parquet
BLAKE/test_snowflake.csv
BLAKE/test_snowflake2.csv
BLAKE/test_snowflake3.csv
BLAKE/upload_file_method_GOOG.csv
BLAKE/upload_file_method_GOOG.parquet/25991cddfcc94a4fb93f5864d77a1fc7.snappy.parquet
BLAKE/upload_fileobj_method.txt
BLAKE_wr/9288e6c1eed4476d98eade7875cbf9c0.snappy.parquet
BLAKE_wr/uploads/wr_newfile.csv
Ben/Million_Songs/
Ben/bingchilling.txt
Ben/gooooog.csv
Ben/parquetGoogleStock/a0eeb97dbd854a5c9cc6e89512faee73.snappy.parquet
Ben/test.csv
Ben/test2.csv
Ben/uploads/Google_upload_test
EMMA/emna_goog.csv
EMMA/emna_goog.txt
EMMA/test_export.parquet
MELISSA/test.csv
MELISSA/uploads/GOOG.csv
MELISSA/uploads/fileobj.txt
MELISSA/uploads/new_file.csv
MillionSongSubset/
MillionSongSubset/log-data/2018-11-01-events.json
MillionSongSubset/log-data/2018-11-02-events.json
MillionSongSubset/log-data/2018-11-03-events.json
MillionSongSubset/log-data/2018-11-04-events.json
MillionSongSubset/log-data/2018-11-05-events.json
MillionSongSubset/log-data/2018-11-06-events.json
MillionSongSubset/log-data/2018-11-07-events.json
MillionSongSubset/log-data/2018-11-08-events.json
MillionSongSubset/log-data/2018-11-09-events.json
MillionSongSubset/log-data/2018-11-10-events.json
MillionSongSubset/log-data/2018-11-11-events.json
MillionSongSubset/log-data/2018-11-12-events.json
MillionSongSubset/log-data/2018-11-13-events.json
MillionSongSubset/log-data/2018-11-14-events.json
MillionSongSubset/log-data/2018-11-15-events.json
MillionSongSubset/log-data/2018-11-16-events.json
MillionSongSubset/log-data/2018-11-17-events.json
MillionSongSubset/log-data/2018-11-18-events.json
MillionSongSubset/log-data/2018-11-19-events.json
MillionSongSubset/log-data/2018-11-20-events.json
MillionSongSubset/log-data/2018-11-21-events.json
MillionSongSubset/log-data/2018-11-22-events.json
MillionSongSubset/log-data/2018-11-23-events.json
MillionSongSubset/log-data/2018-11-24-events.json
MillionSongSubset/log-data/2018-11-25-events.json
MillionSongSubset/log-data/2018-11-26-events.json
MillionSongSubset/log-data/2018-11-27-events.json
MillionSongSubset/log-data/2018-11-28-events.json
MillionSongSubset/log-data/2018-11-29-events.json
MillionSongSubset/log-data/2018-11-30-events.json
MillionSongSubset/song_data/A/A/A/TRAAAAW128F429D538.json
MillionSongSubset/song_data/A/A/A/TRAAABD128F429CF47.json
MillionSongSubset/song_data/A/A/A/TRAAADZ128F9348C2E.json
MillionSongSubset/song_data/A/A/A/TRAAAEF128F4273421.json
MillionSongSubset/song_data/A/A/A/TRAAAFD128F92F423A.json
MillionSongSubset/song_data/A/A/A/TRAAAMO128F1481E7F.json
MillionSongSubset/song_data/A/A/A/TRAAAMQ128F1460CD3.json
MillionSongSubset/song_data/A/A/A/TRAAAPK128E0786D96.json
MillionSongSubset/song_data/A/A/A/TRAAARJ128F9320760.json
MillionSongSubset/song_data/A/A/A/TRAAAVG12903CFA543.json
MillionSongSubset/song_data/A/A/A/TRAAAVO128F93133D4.json
MillionSongSubset/song_data/A/A/B/TRAABCL128F4286650.json
MillionSongSubset/song_data/A/A/B/TRAABDL12903CAABBA.json
MillionSongSubset/song_data/A/A/B/TRAABJL12903CDCF1A.json
MillionSongSubset/song_data/A/A/B/TRAABJV128F1460C49.json
MillionSongSubset/song_data/A/A/B/TRAABLR128F423B7E3.json
MillionSongSubset/song_data/A/A/B/TRAABNV128F425CEE1.json
MillionSongSubset/song_data/A/A/B/TRAABRB128F9306DD5.json
MillionSongSubset/song_data/A/A/B/TRAABVM128F92CA9DC.json
MillionSongSubset/song_data/A/A/B/TRAABXG128F9318EBD.json
MillionSongSubset/song_data/A/A/B/TRAABYN12903CFD305.json
MillionSongSubset/song_data/A/A/B/TRAABYW128F4244559.json
MillionSongSubset/song_data/A/A/C/TRAACCG128F92E8A55.json
MillionSongSubset/song_data/A/A/C/TRAACER128F4290F96.json
MillionSongSubset/song_data/A/A/C/TRAACFV128F935E50B.json
MillionSongSubset/song_data/A/A/C/TRAACHN128F1489601.json
MillionSongSubset/song_data/A/A/C/TRAACIW12903CC0F6D.json
MillionSongSubset/song_data/A/A/C/TRAACLV128F427E123.json
MillionSongSubset/song_data/A/A/C/TRAACNS128F14A2DF5.json
MillionSongSubset/song_data/A/A/C/TRAACOW128F933E35F.json
MillionSongSubset/song_data/A/A/C/TRAACPE128F421C1B9.json
MillionSongSubset/song_data/A/A/C/TRAACQT128F9331780.json
MillionSongSubset/song_data/A/A/C/TRAACSL128F93462F4.json
MillionSongSubset/song_data/A/A/C/TRAACTB12903CAAF15.json
MillionSongSubset/song_data/A/A/C/TRAACVS128E078BE39.json
MillionSongSubset/song_data/A/A/C/TRAACZK128F4243829.json
MillionSongSubset/song_data/A/B/A/TRABACN128F425B784.json
MillionSongSubset/song_data/A/B/A/TRABAFJ128F42AF24E.json
MillionSongSubset/song_data/A/B/A/TRABAFP128F931E9A1.json
MillionSongSubset/song_data/A/B/A/TRABAIO128F42938F9.json
MillionSongSubset/song_data/A/B/A/TRABATO128F42627E9.json
MillionSongSubset/song_data/A/B/A/TRABAVQ12903CBF7E0.json
MillionSongSubset/song_data/A/B/A/TRABAWW128F4250A31.json
MillionSongSubset/song_data/A/B/A/TRABAXL128F424FC50.json
MillionSongSubset/song_data/A/B/A/TRABAXR128F426515F.json
MillionSongSubset/song_data/A/B/A/TRABAXV128F92F6AE3.json
MillionSongSubset/song_data/A/B/A/TRABAZH128F930419A.json
MillionSongSubset/song_data/A/B/B/TRABBAM128F429D223.json
MillionSongSubset/song_data/A/B/B/TRABBBV128F42967D7.json
MillionSongSubset/song_data/A/B/B/TRABBJE12903CDB442.json
MillionSongSubset/song_data/A/B/B/TRABBKX128F4285205.json
MillionSongSubset/song_data/A/B/B/TRABBLU128F93349CF.json
MillionSongSubset/song_data/A/B/B/TRABBNP128F932546F.json
MillionSongSubset/song_data/A/B/B/TRABBOP128F931B50D.json
MillionSongSubset/song_data/A/B/B/TRABBOR128F4286200.json
MillionSongSubset/song_data/A/B/B/TRABBTA128F933D304.json
MillionSongSubset/song_data/A/B/B/TRABBVJ128F92F7EAA.json
MillionSongSubset/song_data/A/B/B/TRABBXU128F92FEF48.json
MillionSongSubset/song_data/A/B/B/TRABBZN12903CD9297.json
MillionSongSubset/song_data/A/B/C/TRABCAJ12903CDFCC2.json
MillionSongSubset/song_data/A/B/C/TRABCEC128F426456E.json
MillionSongSubset/song_data/A/B/C/TRABCEI128F424C983.json
MillionSongSubset/song_data/A/B/C/TRABCFL128F149BB0D.json
MillionSongSubset/song_data/A/B/C/TRABCIX128F4265903.json
MillionSongSubset/song_data/A/B/C/TRABCKL128F423A778.json
MillionSongSubset/song_data/A/B/C/TRABCPZ128F4275C32.json
MillionSongSubset/song_data/A/B/C/TRABCRU128F423F449.json
MillionSongSubset/song_data/A/B/C/TRABCTK128F934B224.json
MillionSongSubset/song_data/A/B/C/TRABCUQ128E0783E2B.json
MillionSongSubset/song_data/A/B/C/TRABCXB128F4286BD3.json
MillionSongSubset/song_data/A/B/C/TRABCYE128F934CE1D.json
YOURNAME/test_export.parquet
aamnah/e76ba6ddee764b198e4f34edde1cfbe4.snappy.parquet
aamnah/uploads/GOOG_NEW.csv
accidents/
accidents/accidents_2017_to_2023_english.csv
alexia/d306b442135f4ad082cf7edb2480f502.snappy.parquet
alexia/uploads/new_stocks.csv
camrenn.rivera/02a8203f7ed142a38f8c417b15188abc.snappy.parquet
camrenn.rivera/30166a8ceeb64007a46abfbcdea8bd11.snappy.parquet
camrenn.rivera/Io_test_file.txt
camrenn.rivera/google_stock_downloaded.csv
emma/3a1b7394faa84991a5e7700c963af73f_000000_000000.snappy.parquet
emma/3a1b7394faa84991a5e7700c963af73f_000001_000000.snappy.parquet
emma/3a1b7394faa84991a5e7700c963af73f_000002_000000.snappy.parquet
emma/3a1b7394faa84991a5e7700c963af73f_000003_000000.snappy.parquet
emma/uploads/wr_emma_stock
fabiola/4ce04d7cf0854cd9a18baec4f5baa980.snappy.parquet
fabiola/uploads/wr_GOOG.csv
jaden/6e08eee074434aa7abda59ab22bc3ea7.snappy.parquet
jaden/test.csv
jaden/uploads/new_file.csv
michael/49d5f54d6c4e46b8b4e01f07f7861c35.snappy.parquet
michael/uploads/new_file_stocks.csv
miraj/b4ec7d55de664e65992d4ae03886f3ff.snappy.parquet
miraj/test.csv
miraj_jara/uploads/google_stock_data
shaswat/b4de0711c2d64b9c801bbdd02239e043.snappy.parquet
shaswat/test.csv
shaswat/uploads/test.csv
stage/
stage/yellow_tripdata.csv
stage/yellow_tripdata.json
stage/yellow_tripdata.parquet
stocks/
stocks/GOOG.csv
suchitha/19027023cb9a4746b2e915ff13905e66.snappy.parquet
suchitha/uploads/sales.csv
tatwan/51addc9167684aa281c96fd5ae2d5be2.snappy.parquet
tatwan/GOOG.csv
tatwan/GOOG_NEW.csv
tatwan/buffer.txt
taxi_data/
taxi_data/yellow_tripdata_2024-01.parquet
taxi_data/yellow_tripdata_2024-02.parquet
taxi_data/yellow_tripdata_2024-03.parquet
taxi_data/yellow_tripdata_2024-04.parquet
tyler/273176db78374c948307fa0c28b7d6b9.snappy.parquet
tyler/test.csv
tyler/test2.csv
tyler/test3.csv
tyler/test99.csv
tyler/testidk.csv
tyler/uploads/goog_stock_file.csv
yellow_tripdata_2024-01.parquet
yellow_tripdata_2024-02.parquet
yellow_tripdata_2024-03.parquet
yellow_tripdata_2024-04.parquet

In [6]:
# list objects that are CSV in a specific bucket "techcatalyst-raw" 
for obj in objects.get('Contents', []):
    if '.csv' in obj.get('Key'):
        print(obj.get('Key'))

BLAKE/test.csv
BLAKE/test4.csv
BLAKE/test_snowflake.csv
BLAKE/test_snowflake2.csv
BLAKE/test_snowflake3.csv
BLAKE/upload_file_method_GOOG.csv
BLAKE_wr/uploads/wr_newfile.csv
Ben/gooooog.csv
Ben/test.csv
Ben/test2.csv
EMMA/emna_goog.csv
MELISSA/test.csv
MELISSA/uploads/GOOG.csv
MELISSA/uploads/new_file.csv
aamnah/uploads/GOOG_NEW.csv
accidents/accidents_2017_to_2023_english.csv
alexia/uploads/new_stocks.csv
camrenn.rivera/google_stock_downloaded.csv
fabiola/uploads/wr_GOOG.csv
jaden/test.csv
jaden/uploads/new_file.csv
michael/uploads/new_file_stocks.csv
miraj/test.csv
shaswat/test.csv
shaswat/uploads/test.csv
stage/yellow_tripdata.csv
stocks/GOOG.csv
suchitha/uploads/sales.csv
tatwan/GOOG.csv
tatwan/GOOG_NEW.csv
tyler/test.csv
tyler/test2.csv
tyler/test3.csv
tyler/test99.csv
tyler/testidk.csv
tyler/uploads/goog_stock_file.csv

In [7]:
bucket_name = 'techcatalyst-raw'

s3_client.download_file(Bucket=bucket_name,  # from which bucket
                        Key='stocks/GOOG.csv', # what is the object name, this include the directory/key.csv
                        Filename='GOOG') # Filename is what you want to call it once it is downloaded

In [8]:
import io
io_temp = io.BytesIO()
temp = s3_client.download_fileobj(Bucket=bucket_name, 
                           			Key='stocks/GOOG.csv',
                            		Fileobj=io_temp) # pass th io.BytesIO object

In [9]:
# show buffer content
print(io_temp.getvalue()[:100])

b'Date,Open,High,Low,Close,Volume\r\n1/2/2025 16:00:00,191.49,193.2,188.71,190.63,17545162\r\n1/3/2025 16:'

In [10]:
# writing the content of the BytesIO object to a file 
with open('google_stock_downloaded.csv', 'wb') as f:
    f.write(io_temp.getvalue())

In [11]:
# uploading a local file using upload_file
s3_client.upload_file(Filename='google_stock_downloaded.csv', # local file name
                      Bucket=bucket_name, # the bucket target
                      Key='tyler/tyler_file.csv') # destination name, make sure it include YOURNAME/ANY_FILE_NAME.csv

In [12]:

# uploading a local file using upload_file
s3_client.upload_file(Filename='test.csv', # local file name
                      Bucket=bucket_name, # the bucket target
                      Key='tyler/last_test.csv') # destination name, make sure it include YOURNAME/ANY_FILE_NAME.csv

In [55]:
in_memory_file = io.BytesIO(b"Steven Universe and Adventure Time over Regular Show always")
s3_client.upload_fileobj(Fileobj=in_memory_file,
                          Bucket=bucket_name, 
                          Key='tyler/tyler_another_file.txt') # destination name, make sure it include YOURNAME/ANY_FILE_NAME.txt

In [56]:
# list objects in a specific bucket "techcatalyst-raw" with prefix "tatwan"
# List objects with the specified prefix
objects = s3_client.list_objects_v2(Bucket='techcatalyst-raw', Prefix='tyler')
objects.keys()


for obj in objects.get('Contents', []):
    print(obj['Key'])

tyler/3a63de0a979f4b22956d913074a48c24.snappy.parquet
tyler/tyler_another_file.txt
tyler/tyler_file.csv
tyler/uploads/goog_stock_file.csv

In [57]:
!uv pip install awswrangler

Using Python 3.12.1 environment at: /workspaces/TechCatalyst_DE_2025/tdev
Audited 1 package in 3ms

In [58]:
# load your credentials
from dotenv import load_dotenv
load_dotenv()

True

In [59]:
# import awswrangler
import awswrangler as wr

In [60]:
# test if you can read from a private bucket

df = wr.s3.read_csv('s3://techcatalyst-raw/stocks/GOOG.csv')
df.head()

                Date    Open    High     Low   Close    Volume
0  1/2/2025 16:00:00  191.49  193.20  188.71  190.63  17545162
1  1/3/2025 16:00:00  192.73  194.50  191.35  193.13  12874957
2  1/6/2025 16:00:00  195.15  199.56  195.06  197.96  19483323
3  1/7/2025 16:00:00  198.27  202.14  195.94  196.71  16966760
4  1/8/2025 16:00:00  193.95  197.64  193.75  195.39  14335341

In [61]:
# the returned object is actuall a pandas DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    140 non-null    object
 1   Open    140 non-null    float64
 2   High    140 non-null    float64
 3   Low     140 non-null    float64
 4   Close   140 non-null    float64
 5   Volume  140 non-null    int64
dtypes: float64(4), int64(1), object(1)
memory usage: 6.7+ KB

In [62]:
databases = wr.catalog.databases()
print(databases)

               Database       Description
0             aamnah_db
1           aamnah_taxi
2             alexia_db
3           alexia_logs
4           alexia_song
5      awswrangler_test
6                ben_db
7              ben_song
8              ben_taxi
9            blake_taxi
10          blake_wr_db
11              default  default database
12              emma_db
13            emma_taxi
14           fabiola_db
15         fabiola_taxi
16           jaden_taxi
17        jadenastle_db
18           melissa_db
19         melissa_logs
20        melissa_songs
21         melissa_taxi
22           michael_db
23             miraj_db
24           miraj_taxi
25                my_db
26           shaswat_db
27         shaswat_logs
28         shaswat_song
29         shaswat_taxi
30          suchitha_db
31        suchitha_taxi
32            tatwan_db
33  tatwan_inclass_demo
34          tatwan_taxi
35             tyler_db
36           tyler_taxi

In [64]:
name = 'tyler'
database_name = f"{name}_db"
wr.catalog.create_database(database_name, exist_ok=True)

In [65]:

import awswrangler as wr

# List all Glue databases
databases = wr.catalog.databases()

print(databases)

               Database       Description
0             aamnah_db
1           aamnah_taxi
2             alexia_db
3           alexia_logs
4           alexia_song
5      awswrangler_test
6                ben_db
7              ben_song
8              ben_taxi
9            blake_taxi
10          blake_wr_db
11              default  default database
12              emma_db
13            emma_taxi
14           fabiola_db
15         fabiola_taxi
16           jaden_taxi
17        jadenastle_db
18           melissa_db
19         melissa_logs
20        melissa_songs
21         melissa_taxi
22           michael_db
23             miraj_db
24           miraj_taxi
25                my_db
26           shaswat_db
27         shaswat_logs
28         shaswat_song
29         shaswat_taxi
30          suchitha_db
31        suchitha_taxi
32            tatwan_db
33  tatwan_inclass_demo
34          tatwan_taxi
35             tyler_db
36           tyler_taxi

In [ ]:
wr.catalog.tables(database='tyler_db')

Empty DataFrame
Columns: [Database, Table, Description, TableType, Columns, Partitions]
Index: []

In [66]:
wr.s3.to_parquet(
    df=df, # the DataFrame you just created 
    path=f"s3://techcatalyst-raw/tyler/", # write to the techcatalyst-raw bucket under your folder name (or it would create a new folder if it does not exist)
    dataset=True, 
    database='tyler_db', # the name of the database you just created in AWS Glue 
    table= 'tyler_stock', #YOUR CODE, # pick a table name for example YOURNAME_STOCK
    mode='overwrite'
    )

{'paths': ['s3://techcatalyst-raw/tyler/441a4e0b45564c29953d1c54d4c5157c.snappy.parquet'],
 'partitions_values': {}}

In [67]:
wr.catalog.tables(name_contains="stock")

,Database,Table,Description,TableType,Columns,Partitions
0,aamnah_db,aamnah_stock,,EXTERNAL_TABLE,"date, open, high, low, close, volume",
1,alexia_db,alexia_stock,,EXTERNAL_TABLE,"date, open, high, low, close, volume",
2,ben_db,ben_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
3,blake_wr_db,blake_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
4,emma_db,emma_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
5,fabiola_db,fabiola_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
6,jadenastle_db,jaden_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
7,melissa_db,melissa_stocks,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
8,michael_db,michael_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
9,miraj_db,miraj_google_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
10,shaswat_db,shaswat_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
11,suchitha_db,suchitha_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
12,tatwan_db,tatwan_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
13,tatwan_inclass_demo,tatwan_goog_stock,,EXTERNAL_TABLE,"date, open, high, low, close, volume",
14,tyler_db,tyler_stock,,EXTERNAL_TABLE,"date, open, high, low, close, volume",

In [68]:
df = wr.s3.read_parquet_table(database='tyler_db', 
                              table='tyler_stock')

# Display the DataFrame's first few rows
df.head()

                date    open    high     low   close    volume
0  1/2/2025 16:00:00  191.49  193.20  188.71  190.63  17545162
1  1/3/2025 16:00:00  192.73  194.50  191.35  193.13  12874957
2  1/6/2025 16:00:00  195.15  199.56  195.06  197.96  19483323
3  1/7/2025 16:00:00  198.27  202.14  195.94  196.71  16966760
4  1/8/2025 16:00:00  193.95  197.64  193.75  195.39  14335341

In [69]:
wr.catalog.get_table_types(database='tyler_db', 
                           table='tyler_stock')

{'date': 'string',
 'open': 'double',
 'high': 'double',
 'low': 'double',
 'close': 'double',
 'volume': 'bigint'}

In [70]:
table_details = wr.catalog.get_tables(database='tyler_db')

next(table_details)

{'Name': 'tyler_stock',
 'DatabaseName': 'tyler_db',
 'CreateTime': datetime.datetime(2025, 8, 4, 20, 13, 33, tzinfo=tzlocal()),
 'UpdateTime': datetime.datetime(2025, 8, 5, 12, 9, 50, tzinfo=tzlocal()),
 'Retention': 0,
 'StorageDescriptor': {'Columns': [{'Name': 'date', 'Type': 'string'},
   {'Name': 'open', 'Type': 'double'},
   {'Name': 'high', 'Type': 'double'},
   {'Name': 'low', 'Type': 'double'},
   {'Name': 'close', 'Type': 'double'},
   {'Name': 'volume', 'Type': 'bigint'}],
  'Location': 's3://techcatalyst-raw/tyler/',
  'InputFormat': 'org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat',
  'OutputFormat': 'org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat',
  'Compressed': True,
  'NumberOfBuckets': -1,
  'SerdeInfo': {'SerializationLibrary': 'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe',
   'Parameters': {'serialization.format': '1'}},
  'BucketColumns': [],
  'SortColumns': [],
  'Parameters': {'CrawlerSchemaDeserializerVersion': '1.0',
   'compressionType': 'snappy',
   'classification': 'parquet',
   'typeOfData': 'file'},
  'StoredAsSubDirectories': False},
 'PartitionKeys': [],
 'TableType': 'EXTERNAL_TABLE',
 'Parameters': {'compressionType': 'snappy',
  'classification': 'parquet',
  'projection.enabled': 'false',
  'typeOfData': 'file'},
 'CreatedBy': 'arn:aws:iam::535146832369:user/Tyler.Powell',
 'IsRegisteredWithLakeFormation': False,
 'CatalogId': '535146832369',
 'VersionId': '2',
 'IsMultiDialectView': False}

In [71]:
# Example adding additional metadata information 

desc = "This is my stock table."
param = {"source": "Google", "class": "stock"}
comments = {
    "Date": "Trading Date",
    "Open": "Opening Price",
    "Close": "Closing Price"
}

wr.s3.to_parquet(
    df=df,
    path='s3://techcatalyst-raw/tyler/', # CHANGE THIS TO USE YOUR NAME for example s3://TECHCATALYST/TATWAN
    dataset=True,
    database='tyler_db',
    table='tyler_stock',
    mode='overwrite',
    glue_table_settings=wr.typing.GlueTableSettings(description=desc,  # here we are passing some metadata
                                                    parameters=param, 
                                                    columns_comments=comments),
    )

{'paths': ['s3://techcatalyst-raw/tyler/273176db78374c948307fa0c28b7d6b9.snappy.parquet'],
 'partitions_values': {}}

In [72]:
wr.catalog.tables(name_contains="stock")

,Database,Table,Description,TableType,Columns,Partitions
0,aamnah_db,aamnah_stock,,EXTERNAL_TABLE,"date, open, high, low, close, volume",
1,alexia_db,alexia_stock,,EXTERNAL_TABLE,"date, open, high, low, close, volume",
2,ben_db,ben_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
3,blake_wr_db,blake_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
4,emma_db,emma_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
5,fabiola_db,fabiola_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
6,jadenastle_db,jaden_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
7,melissa_db,melissa_stocks,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
8,michael_db,michael_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
9,miraj_db,miraj_google_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
10,shaswat_db,shaswat_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
11,suchitha_db,suchitha_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
12,tatwan_db,tatwan_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
13,tatwan_inclass_demo,tatwan_goog_stock,,EXTERNAL_TABLE,"date, open, high, low, close, volume",
14,tyler_db,tyler_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",

In [73]:
wr.s3.list_objects('s3://techcatalyst-raw/tyler/')

['s3://techcatalyst-raw/tyler/273176db78374c948307fa0c28b7d6b9.snappy.parquet']

In [74]:
wr.s3.download(path='s3://techcatalyst-raw/stocks/GOOG.csv', 
               local_file='./goog_stock_file.csv')

In [75]:
your_name = 'tyler'
file_name = 'goog_stock_file.csv'
wr.s3.upload(local_file='goog_stock_file.csv',path= f's3://techcatalyst-raw/{your_name}/uploads/{file_name}')

In [76]:
wr.s3.list_objects(f's3://techcatalyst-raw/{your_name}/uploads/')

['s3://techcatalyst-raw/tyler/uploads/goog_stock_file.csv']

In [77]:
db_name = "tyler_taxi"

table_name = "tyler_tripdata"

s3_path_directory = "s3://techcatalyst-raw/taxi_data/"

s3_path_file = "s3://techcatalyst-raw/taxi_data/yellow_tripdata_2024-01.parquet"

In [78]:
# uncomment below if you ran into issues to clean things up and rerun the cell
wr.catalog.delete_table_if_exists(database=db_name, table=table_name) 

# Create the new Glue database first based on the db_name you created

wr.catalog.create_database(name=db_name, exist_ok=True)

# This function can extract the schema from our file and returns a tuple: (schema, partitions). We only need the schema. 
columns_types, partitions_types = wr.s3.read_parquet_metadata(path=s3_path_file)
print("Successfully read schema from Parquet file.")

Successfully read schema from Parquet file.

In [79]:

wr.catalog.create_parquet_table(
    database=db_name, # pass the database name
    table=table_name, # pass the table name
    path=s3_path_directory, # use the directoy here 
    columns_types=columns_types,  # Pass the schema here
    partitions_types=partitions_types
)
print(f"Table '{table_name}' created successfully in database '{db_name}'.")

Table 'tyler_tripdata' created successfully in database 'tyler_taxi'.

In [93]:
query = f"SELECT * FROM {table_name} LIMIT 5"

df = wr.athena.read_sql_query(query, database=db_name)

print("\nQuery Results:")
print(df)

Query Results:
   vendorid tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2024-03-31 20:20:38   2024-03-31 20:45:00              1.0
1         2  2024-03-31 20:29:09   2024-03-31 20:45:20              2.0
2         2  2024-03-31 20:19:22   2024-04-01 00:00:00              1.0
3         2  2024-03-31 20:11:01   2024-03-31 20:29:34              1.0
4         2  2024-03-31 20:04:57   2024-03-31 20:11:51              4.0

   trip_distance  ratecodeid store_and_fwd_flag  pulocationid  dolocationid  \
0           9.10         1.0                  N            13           236
1           2.77         1.0                  N           230           113
2          10.01         1.0                  N            70            79
3           5.04         1.0                  N           138           202
4           0.82         1.0                  N           230            68

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             1         38.0    3.5      0.5         4.0           0.0
1             1         17.0    1.0      0.5         4.4           0.0
2             1         40.1    6.0      0.5         0.0           0.0
3             1         24.0    6.0      0.5         6.3           0.0
4             2          7.9    0.0      0.5         0.0           0.0

   improvement_surcharge  total_amount  congestion_surcharge  airport_fee
0                    1.0         47.00                   2.5         0.00
1                    1.0         26.40                   2.5         0.00
2                    1.0         51.85                   2.5         1.75
3                    1.0         39.55                   0.0         1.75
4                    1.0         11.90                   2.5         0.00

This solution enables automated data pipelines that convert incoming CSV files to Parquet format using AWS Lambda and awswrangler, catalog them with AWS Glue, and ingest them into Snowflake via Snowpipe. It's ideal for analytics, scalable ETL workflows, and efficient data lake-to-warehouse integration. I think it's cool that we can fully automate mundane processes like having to change the type of file that is being imported every time we bring one in. Specifically for my job on the data ingestion team this will be helpful if we need to migrate mass amounts of data that we have to configure for other processes later down the road.